body {
    margin: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    width: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
}

.box {
    background-color: #292C35;
    height: 40vh;
    width: 40vw;
    border-radius: 20px;
    margin-top: 60px;
}


.page-title {
    color: #292C35;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.login-title {
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.inputs {
    width: 40%;
}

.loginBtn {
    margin-top: 20px;
    width: 40%;
}